.grid-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

main {
  overflow-y: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

:root {
  --background: var(--algae-white);
  --foreground: var(--carbon-black);

  --deep-chlorophyll-green: #0A3831;
  --living-soil: #D1C7B8;
  --bio-lume-cyan: #7AFDD6;
  --algae-white: #F4F7F5;
  --carbon-black: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--deep-chlorophyll-green);
    --foreground: var(--algae-white);
  }
}

body {
  background-color: #E1F0E1; /* A light, pastel green */
  background-image: 
    radial-gradient(circle at 100% 150%, #D1E7D1 0%, #E1F0E1 15%, #C1E1C1 20%, #C1E1C1 27%, #E1F0E1 30%, #D1E7D1 47%, #C1E1C1 60%, #C1E1C1 70%, #E1F0E1 80%, #D1E7D1 90%, #C1E1C1 100%),
    linear-gradient(to top right, #F1FAF1, #D1E7D1); /* Light green gradient */
  background-size: 100% 100%, 100% 100%;
  color: var(--foreground);
  font-family: var(--font-inter);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-manrope);
}

.text-muted {
  color: var(--deep-chlorophyll-green) !important;
  opacity: 0.75;
}

.card {
  background-color: transparent;
  border: 1px solid var(--deep-chlorophyll-green);
}
