.searchForm {
  position: relative;
}

.searchInput {
  border-radius: 50px; /* pill-shaped */
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border: 2px solid #343a40;
  transition: border-color 0.3s;
}

.searchInput:focus {
  border-color: var(--bio-lume-cyan);
  box-shadow: 0 0 10px var(--bio-lume-cyan);
}

.searchButton {
  border-radius: 50px; /* pill-shaped */
  padding: 1rem 2rem;
  font-size: 1.25rem;
  background-color: var(--deep-chlorophyll-green);
  color: var(--algae-white);
  border: none;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: #0E4F43;
}

.tagline h1,
.tagline p {
  color: var(--deep-chlorophyll-green);
}