.searchForm {
  position: relative;
}

.searchInput {
  border-top: 0px;
  border-right: 0px;
  border-bottom: none;
  border-left: 0px;
  border-image: initial;
  line-height: 50px;
  width: calc(100% - 15px);
  font-size: 18px;
  text-overflow: ellipsis;
  height: 53px;
  margin-left: 15px;
  border-radius: 0px;
}

.searchInput:focus {
  border-color: var(--bio-lume-cyan);
  box-shadow: 0 0 10px var(--bio-lume-cyan);
}

.searchButton {
  height: 53px;
  border-radius: 0px;
  background-color: var(--deep-chlorophyll-green);
  color: var(--algae-white);
  border: none;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: #0E4F43;
}

.tagline h1,
.tagline p {
  color: var(--deep-chlorophyll-green);
}