.header {
  background-color: var(--deep-chlorophyll-green);
  color: var(--algae-white);
}

.navLink {
  position: relative;
  color: var(--algae-white);
  text-decoration: none;
  transition: color 0.3s;
}

.navLink::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--bio-lume-cyan);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.navLink:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.loginBtn {
  border-color: var(--bio-lume-cyan);
  color: var(--bio-lume-cyan);
}

.loginBtn:hover {
  background-color: rgba(122, 253, 214, 0.1);
  color: var(--bio-lume-cyan);
}

.signupBtn {
  background-color: var(--bio-lume-cyan);
  color: var(--carbon-black);
  border-color: var(--bio-lume-cyan);
}

.signupBtn:hover {
  background-color: #63e6be; /* A slightly darker cyan */
  border-color: #63e6be;
}
