.searchForm {
  position: relative;
}

.searchInputWrapper {
  position: relative;
}

.searchInput {
  border-radius: 50px; /* pill-shaped */
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid transparent;
  transition: border-color 0.3s;
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  caret-color: white !important; /* Make the blinking cursor white */
  cursor: text; /* Ensure text cursor is visible */
  padding-right: 2.5rem; /* Space for the icon */
}

.searchInput:focus {
  border-color: #ccc;
  box-shadow: 0 0 10px #ccc;
  background-color: rgba(255, 255, 255, 0.5);
}

.searchIconButton {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border: none;
  background: transparent;
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.searchIconButton svg {
  width: 16px;
  height: 16px;
  fill: white;
}